body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    font-size: 16px;
    max-width: 900px;
    margin: auto;
    padding: 10px;
}

.regulo {
    color: #c6594d;
    font-size: 24px;
    font-weight: 600;
}

.ekzemplo {
    color: #a77006;
    border: 1px dotted #ccc;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.ekzemploparto {
    color: #a77006;
}

.bar {
    text-align: center;
    background-color: #37A93A;
    color: #fff;
    font-size: 37px;
    font-weight: bold;
    padding: 10px;
}

.por-uzantoj {
    background-color: #fdf1d7;
    padding: 5px;
    border: 1px dotted #ccc;
}

h1 {
    color: #e9b353;
    font-size: 37px;
    line-height: 47px;
    font-weight: bold;
}

a, .montri-pli {
    color: #337ab7;
    text-decoration: none;
    cursor: pointer;
}

td {
    border-top: 1px solid #ddd;
    width: 100px;
}

.tabelo-vortordo {
    margin: auto;
}
